.btn-deshabilitar {
  background-color: #ff6347;
  color: black;
}
.btn-deshabilitar:hover {
  background-color: #aa1001;
  color: white;
}

.btn-habilitar {
  background-color: #98ec77;
  color: black;
}
.btn-habilitar:hover {
  background-color: #329711;
  color: white;
}

.img-fluid {
  width: 100%;
}