#navbar {
  background-color: #f4511f;
}

.btn {
  color: white;
  background-color: #f4511f;
  border: 2px solid #a0000a;
  border-radius: 10px;
}

.btn:hover {
  background-color: #f8955f;
  border-color: black;
}
